<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/accueil">Ticket MNS</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/accueil" routerLinkActive="active"
            >Accueil</a
          >
        </li>

        @if (authentification.role == "Administrateur") {

        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/gestion-utilisateurs"
            routerLinkActive="active"
            >Gestion utilisateurs</a
          >
        </li>
        } @if (authentification.role == null) {

        <li class="nav-item">
          <a class="nav-link" routerLink="/connexion" routerLinkActive="active"
            >Connexions</a
          >
        </li>
        }
      </ul>
      <form class="d-flex" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Numero ticket, utilisateur..."
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">
          Rechercher
        </button>
      </form>
    </div>
  </div>
</nav>

<router-outlet />
